<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EJS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel= "stylesheet" href= "/css/style.css">
  </head>
  <body>
    <header style = "
    height:100px; 
    width: 100%; 
    font-size:2rem; 
    display:flex; 
    justify-content: center;
    align-items: center;
    background:black;
    color: white">Movies Now Playing</header>
    <ul style = " 
    display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas;
    background:black;
    color: white">
      <% gameData.forEach(game => { %>
      <li><div style="background-color: white;color: black;"><%= game.title%></div>
        <br> 
        <div><img style ="width: 200px; height: 200px;" src="<%=game.image%>" alt= "..."/></div> </li>
      <% }) %>
    </ul>

  </body>
</html>