<% if (user) { %>
  <h1>Welcome, <%= user.name %>,  you are now logged in. Which API would you like to see? </h1>
<% } %>

<a href= "/movies">Movies Now Playing</a>
<a href= "/random">Random People</a>
